<ion-content [scrollY]="false">
  <div id="wrapper">
    <div id="brand">
      <img id="logo" src="assets/logo.png" alt="Velmoria" />
      <h1>Password dimenticata</h1>
      <p>Riceverai un link per reimpostarla</p>
    </div>

    <div id="form">
      <ion-item *ngIf="!success">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-note color="danger" *ngIf="error" class="ion-padding-start">{{ error }}</ion-note>

      <ion-icon *ngIf="success" name="checkmark-circle-outline" color="success" class="result-icon"></ion-icon>
      <p *ngIf="success">Controlla la tua email per il link di reset</p>

      <ion-button expand="block" (click)="forgotPassword()" *ngIf="!success">
        Invia link
      </ion-button>

      <ion-button expand="block" routerLink="/login" fill="clear">
        Torna al login
      </ion-button>
    </div>
  </div>
</ion-content>
