<ion-content>
  <div id="hero">
    <div id="hero-bg"></div>
    <div id="hero-content">
      <div id="logo-wrapper">
        <img src="assets/logo.png" alt="Velmoria" id="logo" />
      </div>
      <h1>Velmoria</h1>
      <p>Il tuo diario di viaggio intelligente</p>

      <div id="actions">
        <ion-button expand="block" routerLink="/login">
          Accedi
        </ion-button>
        <ion-button expand="block" fill="outline" routerLink="/register">
          Registrati
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
