<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Importa / Esporta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Esporta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="exportData()">
        <ion-icon name="download-outline" slot="start"></ion-icon>
        Esporta viaggi
      </ion-button>
      <ion-button expand="block" fill="outline" (click)="exportData()" class="ion-margin-top">
        <ion-icon name="download-outline" slot="start"></ion-icon>
        Esporta tutti i dati
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Importa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="secondary" (click)="importData()">
        <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
        Importa da file
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
