<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Impostazioni privacy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Visibilità profilo</ion-label>
      <ion-select [(ngModel)]="profileVisibility">
        <ion-select-option value="public">Pubblico</ion-select-option>
        <ion-select-option value="followers">Solo follower</ion-select-option>
        <ion-select-option value="private">Privato</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Mostra email sul profilo</ion-label>
      <ion-toggle [(ngModel)]="showEmail"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Mostra posizione nei viaggi</ion-label>
      <ion-toggle [(ngModel)]="showLocation"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Consenti raccolta dati</ion-label>
      <ion-toggle [(ngModel)]="dataCollection"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
