<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="favorites.length > 0; else empty">
    <ion-item *ngFor="let fav of favorites; trackBy: trackByFavoriteId">
      <ion-label>
        <h2>{{ fav.poi?.name || 'Unknown Place' }}</h2>
        <p *ngIf="fav.poi?.category">{{ fav.poi?.category }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" fill="clear" (click)="remove(fav.poiId)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #empty>
    <ion-text color="medium" class="ion-padding">
      <p>No favorites yet.</p>
    </ion-text>
  </ng-template>
</ion-content>
