<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mappa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="trip-selector">
    <ion-icon name="map-outline" slot="start"></ion-icon>
    <ion-label>Viaggio</ion-label>
    <ion-select [(ngModel)]="selectedTripId" (ionChange)="onTripChange()" interface="action-sheet">
      <ion-select-option value="">Tutti i viaggi</ion-select-option>
      <ion-select-option *ngFor="let t of trips" [value]="t.id">{{ t.title }}</ion-select-option>
    </ion-select>
  </ion-item>
  <div #mapContainer id="mapContainer"></div>
</ion-content>
