<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pannello Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <h1>{{ stats.totalUsers }}</h1>
            <p>Utenti</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <h1>{{ stats.totalTrips }}</h1>
            <p>Viaggi</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <h1>{{ stats.reports }}</h1>
            <p>Segnalazioni</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <h1>{{ stats.activeSessions }}</h1>
            <p>Sessioni attive</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Azioni rapide</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="goToUsers()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        Gestisci utenti
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
