<ion-content [scrollY]="false">
  <div id="wrapper">
    <div id="brand">
      <img id="logo" src="assets/logo.png" alt="Velmoria" />
      <h1>Reimposta password</h1>
      <p>Scegli una nuova password</p>
    </div>

    <div id="form">
      <ng-container *ngIf="!success && !error">
        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input placeholder="Nuova password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password"></ion-input>
          <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="showPassword = !showPassword" class="eye-icon"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input placeholder="Conferma password" [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword"></ion-input>
          <ion-icon slot="end" [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'" (click)="showConfirmPassword = !showConfirmPassword" class="eye-icon"></ion-icon>
        </ion-item>

        <ion-note color="danger" *ngIf="error" class="ion-padding-start">{{ error }}</ion-note>

        <ion-button expand="block" (click)="resetPassword()">
          Reimposta password
        </ion-button>
      </ng-container>

      <ion-icon *ngIf="success" name="checkmark-circle-outline" color="success" class="result-icon"></ion-icon>
      <p *ngIf="success">Password reimpostata con successo</p>

      <ion-note color="danger" *ngIf="error && !password && !confirmPassword" class="ion-padding-start">{{ error }}</ion-note>

      <ion-button expand="block" routerLink="/login" *ngIf="success">
        Vai al login
      </ion-button>
    </div>
  </div>
</ion-content>
